<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ecarx.govandpeople">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver
            android:name=".ShengGovReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="com.ecarx.sendredheadfile.BTNM"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ShiGovReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="com.ecarx.sendredheadfile.BTNM"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".XianGovReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="998">
                <action android:name="com.ecarx.sendredheadfile.BTNM"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".XiangGovReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="997">
                <action android:name="com.ecarx.sendredheadfile.BTNM"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".NongMinReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="996">
                <action android:name="com.ecarx.sendredheadfile.BTNM"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>